@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <partial name="AdminLTE/DataTables/_DataTablesStyles" />
}
<div class="container border category-area">

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <strong>Category List</strong>
                    </h3>
                    <p class="text-right"><partial name="_CreateCategoryButton" /></p>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td class="text-center">
                                        <partial name="_CreateCategoryTableButton" model="item.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

    </div>
</div>

@section Scripts {
    <partial name="AdminLTE/DataTables/_DataTablesScripts" />
}