@model IEnumerable<spice.Models.SubCategory>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <partial name="AdminLTE/DataTables/_DataTablesStyles" />
}
<div class="container border category-area">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <strong>Sub-Category List</strong>
                    </h3>
                    <p class="text-right">
                        <partial name="_CreateSubCategoryButton" />
                    </p>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"> @Html.DisplayNameFor(model => model.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Category)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    <td class="text-center">
                                        <partial name="_CreateSubCategoryTableButton" model="item.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

    </div>
</div>

@section Scripts {
    <partial name="AdminLTE/DataTables/_DataTablesScripts" />
}